<header>
	<div class="navbar">
		<div class="logo">
			<a href="/"><%= image_tag ("logo.png"), class: "logo" %></a>
		</div>
		<ul>
			<a href="#"><li><i class="icon-user"></i> username</li></a>
			<a href="#"><li> Notifications <i class="icon-angle-down"></i> </li></a>
		</ul>
	</div>
</header>